.content{
    width: 350px;
    padding: 40px;
    background-color: #2E34A6;
    color: white;
    border-radius: 10px;
    display: grid;
    place-items: center;
}

.content p{
    text-align: justify;
    width: 100%;
    margin: 5px;
}
.buttons{
    margin-top: 20px;
}

.button button:hover{
    transition: transform .4s ease-in-out;
    transform: scale(1.2);
    cursor: pointer;
}

.button a button{
    color: #15038C;
    text-decoration: none;
    border: none;
    background-color: #CEE1F2;
    border-radius: 20px;
    padding: 10px;
    font-size: 1.2rem;
}