.scoreboard{
    background-color: #2E34A6;
    width: 600px;
    border-radius: 10px;
    color: white;
    padding: 10px;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.scoreboard h1, h2{
    width: 100%;
    text-align: center;
}

.result_register{
    display: flex;
    width: 100%;
    border-bottom: 1px solid #CEE1F2;
    padding: 10px;
}

.result_register ul{
    list-style: none;
    font-size: 1.2rem;
}

.scoreboard .buttons{
    width: 100%;
    display: flex;
    justify-content: center;
}